*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/mivanovskaya/humblr/ExampleInstrumentedTest.kt
/app/src/test/java/com/mivanovskaya/humblr/ExampleUnitTest.kt
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/gradle.properties
